
body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    left: 40%;
    text-decoration: coral;
    margin: 10;
}
button{
    background-color: #4CAF50; /* Green */
    border: 20px solid #555;
    color: white;
    position:relative;
    left: 43.6%;
    font-size: 26px;
}
h4 {
    color: black;
    font-size: 26px;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: skyblue;
    padding: 0 40px;
}
.main-pic {
    position: relative;
    left: 43.5%;
    
}
.main {
    background-color: #F6F6EF;
    padding: 10px 15px;
}
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: red;
    font-size: 20px;
}
.timestamp {
    padding-right: 10px;
}
